---
layout: default
---

{% include base_path %}

<div id="main" class="founder-main" role="main">
  <article class="page page--founder" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}

    <div class="page__inner-wrap page__inner-wrap--founder">
      <section class="page__content page__content--founder" itemprop="text">
        {{ content }}
      </section>
    </div>
  </article>
</div>
